@model Teacher

<h2>Détails de l'Enseignant @Model.Id</h2>

<dl class="row">

    <dt class="col-sm-2">Nom</dt>
    <dd class="col-sm-10">@Model.Firstname @Model.Lastname</dd>

    <dt class="col-sm-2">Email</dt>
    <dd class="col-sm-10">@Model.Email</dd>

</dl>

<dl>
    <dt class="col-sm-2">Enseignement</dt>
    <dd class="col-sm-10">@Model.Major</dd>
</dl>
<a asp-action="Index">Retour à la Liste</a>
